<ion-view view-title="登录">
  <ion-content class="padding">
  
  <form name="userLoginForm" ng-submit="submitUserLoginForm(userLoginForm.$valid)" novalidate>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">用户名</span>
        <input type="text" placeholder="用户名" ng-model="userInfo.username" ng-minlength="1" ng-required="true">
        <p ng-show="userLoginForm.username.$error.minlength">请输入用户名</p>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">密码</span>
        <input type="password" placeholder="密码" ng-model="userInfo.password" ng-minlength="6" ng-required="true">
        <p ng-show="userLoginForm.password.$error.minlength">密码太短</p>
      </label>
      
      <button type="submit" class="btn btn-primary" ng-disabled="userLoginForm.$invalid">登录</button>
      <a type="submit" class="btn btn-primary" href="#/user/register">注册</a>
    </div>
  </form>
  </ion-content>
</ion-view>




