<ion-view view-title="数据">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">数据</div>
      <div class="item item-body">
        <div>
          飞机数据显示
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">说明</div>
      <div class="item item-body">
        <div>
          飞机数据如下
        </div>
      </div>
    </div>
    
    
    <div class="list card" ng-repeat="flight in flights">
      <div class="item item-divider">{{flight.fltno}}</div>
      <div class="item item-body">
        <div>
          <a href="{{flight.departure_name|iata_href}}" >{{flight.departure_name|iata_cnname}}</a>
          -><a href="{{flight.destination_name|iata_href}}">{{flight.destination_name|iata_cnname}}</a>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
